body{
    margin: 0;
    padding: 0;
}

.navbar-dark{
    background-color: rgb(172, 5, 172);
}
.container{
    margin-top: 150px;
}
.modal-header{
    background-color: rgb(172, 5, 172);
    color:floralwhite;
}

.custom-scroll{
    position: relative;
    height: 400px;
    overflow-y: auto;
}
.wrap-scroll-y{
    display: block;
}