<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" co2ntent="width=device-width, initial-scale=1.0">
    <title>Create Read Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-dark">
        <div class="navbar-brand">
            <a href="#" class="nav-link text-white"><strong>LOGO</strong></a>
        </div>
    </nav>
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <a id="addRecord" href="#" class="btn btn-primary">Add Record</a>
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="thead bg-dark">
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Mobile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                        </tr>
                        <tr>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                        </tr>
                        <tr>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                            <td>Rajan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>